<section class="my-2">
  <div class="container">
    <nav class="bg-dark navbar navbar-expand-md navbar-dark shadow rounded">
      {{#link-to "index" class="navbar-brand"}}
        Text Support Mixins
      {{/link-to}}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/cybertoothca/ember-cli-text-support-mixins" target="_blank">
              {{fa-icon "github" prefix="fab" size="2x"}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.npmjs.com/package/ember-cli-text-support-mixins" target="_blank">
              {{fa-icon "npm" prefix="fab" size="2x"}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://emberobserver.com/addons/ember-cli-text-support-mixins" target="_blank">
              {{fa-icon "ember" prefix="fab" size="2x"}}
            </a>
          </li>
          {{!--
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                         data-toggle="dropdown"
                         aria-haspopup="true" aria-expanded="false">
                        Other Projects
                      </a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        --}}
          {{!--
                                      <a class="dropdown-item" href="http://ember-cli-bootstrap3-carousel.cybertooth.io/" target="_blank">
                                        ember-cli-bootstrap3-carousel
                                      </a>
                        --}}{{!--

              <a class="dropdown-item" href="http://ember-cli-bootstrap3-popover.cybertooth.io/" target="_blank">
                ember-cli-bootstrap3-popover
              </a>
              <a class="dropdown-item" href="http://ember-cli-bootstrap3-tooltip.cybertooth.io/" target="_blank">
                ember-cli-bootstrap3-tooltip
              </a>
              <a class="dropdown-item" href="http://ember-cli-date-textbox.cybertooth.io/" target="_blank">
                ember-cli-date-textbox
              </a>
              <a class="dropdown-item" href="http://ember-cli-marked-down.cybertooth.io/" target="_blank">
                ember-cli-marked-down
              </a>
              --}}
          {{!--
                                      <a class="dropdown-item" href="http://ember-cli-text-support-mixins.cybertooth.io/" target="_blank">
                                        ember-cli-text-support-mixins
                                      </a>
                        --}}{{!--

              <a class="dropdown-item" href="http://ember-cli-textarea-autosize.cybertooth.io/" target="_blank">
                ember-cli-textarea-autosize
              </a>
              --}}
          {{!--
                                      <a class="dropdown-item" href="http://ember-data-bootstrap3-forms.cybertooth.io/" target="_blank">
                                        ember-data-bootstrap3-forms
                                      </a>
                        --}}{{!--

            </div>
          </li>
--}}
        </ul>
      </div>
    </nav>
  </div>
</section>

<section class="my-3">
  <div class="container">
    <a href="https://badge.fury.io/js/ember-cli-text-support-mixins" target="_blank">
      <img alt="npm version" class="shadow" src="https://badge.fury.io/js/ember-cli-text-support-mixins.svg"></a>
    <a href="https://circleci.com/gh/cybertoothca/ember-cli-text-support-mixins" target="_blank">
      <img alt="built with ember-cli-2.18" class="shadow"
           src="https://img.shields.io/badge/Built_With_ember--cli-2.18.2-orange.svg"></a>
    <img alt="click to copy install command" class="shadow"
         src="https://img.shields.io/badge/Install-ember_install_ember--cli--text--support--mixins-lightgray.svg">
  </div>
</section>

{{outlet}}
