<section class="my-2">
  <div class="container">
    {{#ct-navbar
      appLabel="Text Support Mixins"
      appName=model.appName
      class="bg-dark navbar-expand-md navbar-dark shadow rounded"
    }}
      <li class="nav-item">
        {{#link-to "demo.index" class="nav-link"}}
          {{fa-icon "tv" size="2x"}}
        {{/link-to}}
      </li>
    {{/ct-navbar}}
  </div>
</section>

<section class="my-3">
  <div class="container">
    <a href="https://badge.fury.io/js/ember-cli-text-support-mixins" target="_blank">
      <img alt="npm version" class="shadow" src="https://badge.fury.io/js/ember-cli-text-support-mixins.svg"></a>
    <a href="https://circleci.com/gh/cybertoothca/ember-cli-text-support-mixins" target="_blank">
      <img alt="built with ember-cli-2.18" class="shadow"
           src="https://img.shields.io/badge/Built_With_ember--cli-2.18.2-orange.svg"></a>
    {{#copy-install-to-clipboard}}
      <img
        alt="click to copy install command"
        class="shadow"
        src="https://img.shields.io/badge/Install-ember_install_ember--cli--text--support--mixins-lightgray.svg"
        title="Click to copy the intall command to your clipboard.">
    {{/copy-install-to-clipboard}}
  </div>
</section>

{{outlet}}

<section class="bg-dark mt-5 text-light">
  <div class="container">
    {{ct-footer class="py-5"}}
  </div>
</section>
