<SectionDemo @class="my-3" as |section|>
  <section.list-group>
    <div class="list-group-item list-group-item-dark">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1">Textbox</h4>
        <code class="small">\{{input-text}}</code>
      </div>
    </div>

    <LinkTo @route="demo.index" class="list-group-item list-group-item-action">
      Autofocus
    </LinkTo>
    <LinkTo @route="demo.input-text-select-text" class="list-group-item list-group-item-action">
      Select Text
    </LinkTo>
    <LinkTo @route="demo.input-text-escape-clears" class="list-group-item list-group-item-action">
      <kbd class="shadow">ESC</kbd> Clears
    </LinkTo>
    <LinkTo @route="demo.input-text-enter-submits" class="list-group-item list-group-item-action">
      <kbd class="shadow">ENTER</kbd> Submits
    </LinkTo>
    <LinkTo @route="demo.input-text-ctrl-enter-submits" class="list-group-item list-group-item-action">
      <kbd class="shadow">CTRL+ENTER</kbd> Submits
    </LinkTo>

    <div class="list-group-item list-group-item-dark">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1">Textarea</h4>
        <code class="small">\{{text-area}}</code>
      </div>
    </div>

    <LinkTo @route="demo.text-area-autofocus" class="list-group-item list-group-item-action">
      Autofocus
    </LinkTo>
    <LinkTo @route="demo.text-area-select-text" class="list-group-item list-group-item-action">
      Select Text
    </LinkTo>
    <LinkTo @route="demo.text-area-escape-clears" class="list-group-item list-group-item-action">
      <kbd class="shadow">ESC</kbd> Clears
    </LinkTo>
    <LinkTo @route="demo.text-area-ctrl-enter-submits" class="list-group-item list-group-item-action">
      <kbd class="shadow">CTRL+ENTER</kbd> Submits
    </LinkTo>
  </section.list-group>
  <section.outlet>{{outlet}}</section.outlet>
</SectionDemo>
